<!DOCTYPE html>
<html lang="en">
<form method ="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title"> title </label>
            <input type="text" class="form-control" id="id_title" name="title">
        </div>
        <div class="form-group">
            <lable for="id_content">content</lable>
            <textarea class="form-control" id="id_content" name="content" ></textarea>
        </div>
        <button type="submit" class="btn btn-success">submit</button>
        <a href="{% url 'index' %}">home</a>
</form>
</html>