
<!DOCTYPE html>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/post_list.css' %}?after1">
</head>
        <h1 style="text-align: center; height: 100px; bottom:0" >Here is board main page </h1>
        {% for post in page_obj %}<div class="centered_2">
            <a href="{% url 'detail' post_id=post.id %}">
                {{ post.title }}</a>
            <button>delete</button>
            </div>
        {% endfor %}
        <div class="centered">
            <ul class="pagination justify-content-center">
            <!-- page list -->
            {% for page_number in page_obj.paginator.page_range %}
            {% if page_number == page_obj.number %}
                <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
            {% else %}
                <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
            {% endif %}
            {% endfor %}
            </ul>
            <a href="{% url 'create' %}" ><b><br><br><br>create</b></a>
        </div>

</html>