<!DOCTYPE html>
<html>
<form method="POST">
    <ul style="text-align: center">
    <h1> here is the post_detail area</h1>
    <div style="height: 80px">
        <div style="font-size: x-large">
            title
        </div>
        <div>
        <textarea rows="1" cols="100" style="text-align: center" name="post_title">{{ post.title }}</textarea>
        </div>
    </div>
    <div>
        <div style="text-align: center; font-size: x-large">
            content
        </div>
        <div>
        <textarea rows="15" cols="100" style="text-align: center" name="post_detail_content">{{ post_detail.context }}</textarea>
        </div>
        <input type="submit" class="btndelete" value="save" style="height: 20px; width: 50px" onclick="location.href='/update/post_detail_id'">

    </div>

    <h2> here is the comment area in post_detail</h2>
        {% for comment in page_comment %}
            <div>
            <textarea rows="1" cols="100">{{ comment.comment }}</textarea>
            </div>
        {% endfor %}
        <!-- page list -->
    {% if comment_count == 0 %}
    {% else %}
        {% for page_number in page_comment.paginator.page_range %}
        {% if page_number == page_obj.number %}
            <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
        {% else %}
            <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
        {% endif %}
        {% endfor %}
    {% endif %}

    {% csrf_token %}
        <div class="form-group">
            <textarea class="form-control" id="id_comment" name="comment" rows="1" cols="100"></textarea>
        </div>
            <button type="submit" class="btn btn-success">add comment</button>
    <a href="{% url 'index' %}">home</a>
    </ul>
</form>
</html>
